body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DDB992; /* Warna coklat muda */
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px; /* Sesuaikan ukuran logo */
    margin-right: 10px;
}

.logo span {
    font-size: 18px;
    font-weight: bold;
    color: #663300; /* Warna coklat gelap */
}

.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile img {
    width: 45px; 
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-arrow {
    margin-left: 5px;
    font-size: 14px;
    color: black;
}
